.container{
    height: inherit;
    width: inherit;
}

.bad-quotes-container{
    background-color: black;
    color: red;
}

.good-quotes-container{
    background-color: deepskyblue;
    color: whitesmoke;
}

.credits-container{
    background-color: red;
    color: black;
}
